# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Folders
bin/
build/
dist/
.gradle/
target/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Misc
.classpath
.project
.settings/
*.log
